pui
*_autoload*
_act*
*.swp
*.tmp
._pylon.dat
.gd*
conf/used
tmp
cscop*
runtime/*
run/*
avatar_origin/*
_notes
.rigger.dat
rigger.log
rg.fail
nohup.out
pkg/*
run.txt
run.log
_rg/.rigger-ng-v2.data
src/github.com
src/golang.org
src/gopkg.in
src/git.apache.org
src/google.golang.org
bin/*
conf/*
!conf/Dockerfile
!conf/app.ini
